
.jumbotron p, .jumbotron h1{
	color:#337ab7;
}
.navbar-default .navbar-nav>li>a{
	color: white;
}
.navbar-default .navbar-brand{
	color:white;
}
.navbar-default{
	background-color: #337ab7;
}

.thumbnail img{
	width: 100%;
}
.thumbnail{
	padding: 0;
}

.thumbnail .caption-full{
	padding: 10px;
}

.action-buttons{
	display: inline;
}