<% include ../partials/header %>


<div class="container">

	<header class="jumbotron">
			<h1>Bizim Restuaranta Hosgeldiniz...</h1>
			<p>En leziz yemekleri bulabileceginiz ve herkesle paylasabileceginiz bir sayfa</p>
			<p>
				<a class="btn btn-primary btn-large" href="/yemekler/yeni">Yeni Yemek Ekle</a>
			</p>
			
	</header>


	<div class="row">
		<% yemekler.forEach(function(yemek){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= yemek.resim %>">
				<div class="caption text-center">
					<h3><%= yemek.adi %></h3>
					<p>
						<a href="/yemekler/<%= yemek._id %>" class="btn btn-primary">Daha Fazla Bilgi</a>
					</p>
				</div>
				
			</div>
			

			
		</div>

	<%	}); %>
	</div>



	<% include ../partials/footer %>
</div>
